.minor-section {
    padding: 10px;
    margin-bottom: 10px;
    border: solid 1px #cd5172;
    background-color: #e184a9;
  }
  
  img {
    display:block;
    margin-left: auto;
    margin-right: auto;
    width: 25%;
  }

  .special {
    background-color: rgb(255, 224, 236);
    border: dotted 50px rgb(122, 0, 59);
    color: rgb(245, 131, 207);
    font-weight: bold;
}