.minor-section {
    padding: 10px;
    margin-bottom: 10px;
    border: solid 1px #cd5172;
    background-color: #e184a9;
  }

  #output p {
    margin-top: 0;
    margin-bottom: 0;
    text-align: left;
  }
