h1 {
    color: #fc8eac;
    font-family: "fantasy"
    font-size: 200%
}

p {
    font-family: "fantasy";
    text-indent: 20px;
    margin-left: 10px;
}

#content {
    background-color: #ffd1dc
    width 500px;
    min-height: 300px;
    padding: 10px;
    margin: 10px;
    border: solid 10px #fc8eac;
    font-size: 20px;
}