h1 {
    color: #fc8eac;
    font-family: "Courier";
    font-size: 200%
}

p {
    font-family: "Courier";
    text-indent: 10px;
    margin-left: 10px;
}

#content {
    background-color: rgb(rgb(255, 182, 182), green, blue);
    width: 900px;
    min-height: 300px;
    padding: 10px;
    margin: 10px;
    border: solid 5px #fc8eac;
    font-size: 20px;
}

img {
    display:block;
    margin-left: auto;
    margin-right: auto;
    width: 25%;
}